.slider__big-about .slider__big-item {
	max-height: calc(60vh - 80px);
}

.slider__big-about {
	min-height: calc(60vh - 80px);
}

.sticky-block {
	position: relative;
	z-index: 30;
	box-shadow: none;
}

.sticky-block.active {
	position: fixed;
	top: 0;
}

.sticky-block.active + section {
	padding-top: 180px;
}